.flex1 {
  flex: 1;
}

.expand-nav .q-item {
  border-bottom-right-radius: 32px !important;
  border-top-right-radius: 32px !important;
  min-height: 44px;
  overflow: hidden;
  height: 44px;
}
.expand-nav .q-expansion-item__container > .q-item > .q-item__section--avatar {
  padding-right: 10px !important;
  min-width: auto;
}
.expand-nav
  .q-expansion-item.nav-level1
  > .q-expansion-item__container
  > .q-item,
.expand-nav .q-item.nav-level1 {
  padding-left: 30px;
}
.expand-nav
  .q-expansion-item.nav-level2
  > .q-expansion-item__container
  > .q-item,
.expand-nav .q-item.nav-level2 {
  padding-left: 50px;
}
// 一级导航
.expand-nav .active-nav.nav-level0 > .q-expansion-item__container > .q-item,
.expand-nav .active-nav.nav-level0.q-item {
  background-image: linear-gradient(
    98deg,
    rgba(22, 159, 255, 0.65),
    #169fff 100%
  );
  background-image: linear-gradient(
    98deg,
    rgba(68, 107, 164, 0.65),
    rgb(68, 107, 164) 100%
  );
  box-shadow: 0 5px 10px -4px rgb(94 86 105 / 42%);
  color: #fff;
}
.expand-nav
  .active-nav.nav-level0
  > .q-expansion-item__container
  > .q-item
  > .q-item__section
  > i {
  color: #fff;
}
// 二级导航
.expand-nav .active-nav.nav-level1 > .q-expansion-item__container > .q-item,
.expand-nav .q-item.nav-level1.active-nav {
  color: #169fff !important;
  color: rgb(68, 107, 164) !important;
}

.expand-nav
  .active-nav.nav-level1
  > .q-expansion-item__container
  > .q-item
  > .q-item__section
  > i {
  color: #169fff;
  color: rgb(68, 107, 164) !important;
}
// 三级导航
.expand-nav .q-item.nav-level2.active-nav {
  color: #169fff !important;
  color: rgb(68, 107, 164) !important;
}

.popup-nav .q-item {
  min-height: 44px;
}
.popup-nav .active-nav.q-item {
  background-image: linear-gradient(
    98deg,
    rgba(22, 159, 255, 0.65),
    #169fff 100%
  );
  background-image: linear-gradient(
    98deg,
    rgba(68, 107, 164, 0.65),
    rgb(68, 107, 164) 100%
  );
  box-shadow: 0 5px 10px -4px rgb(94 86 105 / 42%);
  color: #fff;
}

// 表格组件
/* 表头 */
.my-table .q-table > thead > tr > th {
  font-size: 13px;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgba(245, 245, 245);
  color: #444;
  font-weight: bold;
}
/*表头第一个*/
.my-table .q-table > thead > tr > th:first-child {
  left: 0;
  z-index: 4;
}
/*表头最后一个*/
.my-table .q-table > thead > tr > th:last-child {
  right: 0;
}

/* 表格组件所有td */
.my-table .q-table > tbody > tr > td {
  color: #777;
  font-size: 12px;
}

.my-table .q-table > tbody > tr > td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #fff;
}
.my-table .q-table > tbody > tr > td:last-child {
  position: sticky;
  right: 0;
  z-index: 2;
  background-color: #fff;
}

// 通用页面css
.select__content {
  width: 260px !important;
  max-height: 240px !important;
}

.my-box {
  background-color: rgb(255 255 255);
  border-color: rgb(255 255 255);
  color: rgb(0 0 0 / 87%);
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 10%);
  max-height: 100%;
}
.q-field--auto-height.q-field--dense .q-field__control,
.q-field--auto-height.q-field--dense .q-field__native,
.q-field--dense .q-field__control,
.q-field--dense .q-field__marginal {
  height: 34px;
}
.q-field--auto-height.q-field--dense .q-field__control,
.q-field--auto-height.q-field--dense .q-field__native {
  min-height: 34px;
}
.aa.q-field--auto-height.q-field--dense .q-field__control,
.aa.q-field--auto-height.q-field--dense .q-field__native,
.aa.q-field--dense .q-field__control,
.aa.q-field--dense .q-field__marginal {
  height: 44px !important;
}
.aa.q-field--auto-height.q-field--dense .q-field__control,
.aa.q-field--auto-height.q-field--dense .q-field__native {
  min-height: 44px !important;
}

.q-textarea .q-field__control {
  min-height: 52px !important;
  height: auto !important;
}

.tip-shadow {
  height: 10px;
}
.tip-shadow:after,
.tip-shadow:before {
  background-color: #fff;
  content: "";
  display: block;
  height: 10px;
  left: calc(50% - 6px);
  position: absolute;
  top: 5px;
  transform: rotate(315deg);
  width: 10px;
}
.tip-shadow:after {
  box-shadow: 0 2px 2px #0000004d;
  z-index: -1;
}
